Repository calbear47/starlight-swatches: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "linters" : {
    "*.js"  : [
      "eslint"
    ], 
    "**/*.{js,html,json,css,scss,ts}" : ["prettier --write","git add"]
  }
}

Swatcher main instance init flow with tests
  package.json
  src/js/index.js
  tests/index.spec.js
Due: eslint, prettier --write

Util module with tests
  src/js/util.js
  tests/util.spec.js
Due: eslint, prettier --write

more lodash utilities
  package.json
Due: prettier --write

updates to babel rc for async/await
  .babelrc.js
Due: eslint, prettier --write

http module
  src/js/http.js
  tests/http.spec.js
Due: eslint, prettier --write

added utility methods
  src/js/util.js
  tests/util.spec.js
Due: eslint, prettier --write

starting to build swatch
  src/js/index.js
  tests/index.spec.js
Due: eslint, prettier --write

es6 env for promises to eslist file
  .eslintrc
Due: none

get product media & data with tests
  src/js/http.js
  src/js/index.js
  tests/http.spec.js
  tests/index.spec.js
Due: eslint, prettier --write

console log cleanup
  src/js/http.js
  src/js/index.js
Due: eslint, prettier --write

swatch module
  src/js/swatch.js
  tests/swatch.spec.js
Due: eslint, prettier --write

additional util methods
  package.json
  src/js/http.js
  src/js/index.js
  src/js/util.js
  tests/util.spec.js
Due: eslint, prettier --write

Basic readmen
  README.md
Due: none

updates to readme
  README.md
Due: none

Updates to readme
  README.md
Due: none

Styling the swatch, bare minimum
  src/scss/_global.scss
  src/scss/_variables.scss
Due: prettier --write

Updated output of webpack for consumption
  webpack.config.js
Due: eslint, prettier --write

fixed bug on id from media server
  src/js/http.js
Due: eslint, prettier --write

fixed bug with swatch width and string decoding
  src/js/index.js
Due: eslint, prettier --write

Changed exporting and added activateSwatch method
  .DS_Store
  dist/bundle.css
  dist/bundle.js
  src/js/swatch.js
  src/js/util.js
  tests/util.spec.js
Due: eslint, prettier --write
